.post {
    position: relative;
    top: 150px;
    text-align: center;
}

.postoverview {
    border-bottom: 2px solid maroon;
}

.postoverview img {
    width: 600px;
    height: 400px;
    border: 1px solid maroon;
}

.postoverview h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    cursor: default;
}

.postoverview h2 {
    color: maroon;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    cursor: default;
}

.postvehicleinfo h3 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.postvehicleinfo {
    border-bottom: 2px solid maroon;
    margin-bottom: 20px;
}

.postvehicleinfo h5 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

.postownerinfo {
    border-bottom: 2px solid maroon; 
    margin-bottom: 30px;
}

.postownerinfo h3 {
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.postownerinfo h5 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: lighter;
}

